<% for (let i = 0; i < dashboardData.length; i++) { %>
    <div class="item" onclick="window.location.href = '/bag_details/' + '<%= dashboardData[i].idBag %>';">
        <div class="item-ranking">
            <%= i + 1 %>
        </div>
        <div class="item-image" id="top10img<%= i + 1 %>">
                <img src="data:image/jpeg;base64, <%= Buffer.from(dashboardData[i].bag_photo).toString('base64') %>" alt="Bag Image">
        </div>
        <div class="item-details">
            <div class="bag_name"><%= dashboardData[i].bag_name %></div>
            <div class="bag_review_desc">
                <%= dashboardData[i].banyak_review %> Review<br>Rating: <%= dashboardData[i].nilai_review.toFixed(2) %>
            </div>
        </div>
    </div>
<% } %>
  