<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/bag_review.js" defer></script>
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class = "bag_review_page">

        <div class = "bag_detail_container">

            <div class = "bag_review_photo">
                <img src = "data:image/jpeg;base64, <%= Buffer.from(res_bagDetails.bag_photo).toString('base64') %>" width = 250px height = 250px>
            </div>

            <div class = "bag_review_name">
                <%= res_bagDetails.bag_name %>
            </div>

            <div class = "add_review_button">
                <a href = "/dashboard_public">
                    <button class = "gray_button">Back</button>
                </a>  

                <button class = "blue_button" onclick="window.location.href = '/add_review/' + '<%= res_bagDetails.idBag %>';">Add Review</button> 
            </div>

            <div class = "bag_status">
                <%= bagReviewCount %> Review | Rating: <%= bagReviewAvg.toFixed(2)   %>
            </div>

            <div class = "category_label">
                <div class = "label_title">Category</div>
                <div class = "label_content"><%= res_bagDetails.cat_name %></div>
            </div>

            <div class = "color_label">
                <div class = "label_title">Color</div>
                <div class = "label_content"><%= res_bagDetails.color %></div>
            </div>

            <div class = "sub_category_label">
                <div class = "label_title">Sub-category</div>
                <div class = "label_content"><%= res_bagDetails.subCat_name %></div>
            </div>

            <div class = "brand_label">
                <div class = "label_title">Brand</div>
                <div class = "label_content"><%= res_bagDetails.brand_name %></div>
            </div>

            <div class = "designer_label">
                <div class = "label_title">Designer</div>
                <div class = "label_content"><%= res_bagDetails.des_name %></div>
            </div>

            <div class = "length_label">
                <div class = "label_title">Length</div>
                <div class = "label_content_cm"><%= res_bagDetails.length %></div>
                <div class = "label_cm">cm</div>
            </div>

            <div class = "width_label">
                <div class = "label_title">Width</div>
                <div class = "label_content_cm"><%= res_bagDetails.width %></div>
                <div class = "label_cm">cm</div>
            </div>

            <div class = "height_label">
                <div class = "label_title">Height</div>
                <div class = "label_content_cm"><%= res_bagDetails.height %></div>
                <div class = "label_cm">cm</div>
            </div>
        </div>

        <div class = bag_review_title>Ratings and reviews</div>
        <canvas id="reviewChart"></canvas>
        <input type="hidden" id="bagReviewsData" value="<%- JSON.stringify(bagReviews.map(review => review.value)) %>">


        <div class = "bag_review_container">
            <% for(const review of bagReviews) { %>
                <div class = "single_review">
                    <div class = "review_user_profile">
                        <img src = "data:image/png;base64, <%= Buffer.from(review.user_photo).toString('base64') %>" heigth = 30px width = 30px>
                        <%= review.username %>
                    </div>
                    <div class = "review_user_nilai">
                        <div class = "review_user_nilai_label">Rating</div>
                        <div class = "review_user_nilai_angka"><%= review.value %></div>
                    </div>
                    <div class = "review_user_teks">
                        <%= review.review_text %>
                    </div>
                </div>
            <% } %>

        </div>

    </div>
    
</body>
</html>

