<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="/dashboard.js" defer></script>
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class="grid-container">
        

        <div class="search-bar">
            <div class = "search_logo">
                <img src = "/search.png" height=31px width=30px>
            </div>
            
          <input type="text" id="search-input" placeholder="Search for bags you want to review or users you want to follow!">
          
        </div>


        <div class = "search_buttons">
            <span class = "filter_text">Search for:</span>
            <button class = "blue_button">User</button>
            <button class = "blue_button">Bag</button>
        </div>
        

        
        
        
        <div class = "judul_top10">OUR TOP 10 BAGS</div>
        
        <div class="filter-sort">
            
            <span class = "filter_text">Filter by: </span>

            <span style="color: #737373;">Category</span>
            
            <div class="custom-dropdown">
                <div class="dropdown-label" id="category_dropdown-label">All</div>
                <ul class="dropdown-options" id="category_dropdown-options">
                    <li class = "category-value" data-value="">All</li>
                    <li class = "category-value" data-value="Handbag">Handbag</li>
                    <li class = "category-value" data-value="Suitcase">Suitcase</li>
                    <li class = "category-value" data-value="Backpack">Backpack</li>
                </ul>
            </div>
            
            <span style="color: #737373;">Sub-category</span>

            <div class="custom-dropdown">
                <div class="dropdown-label" id="sub_category_dropdown-label">All</div>
                <ul class="dropdown-options" id="sub_category_dropdown-options">
                    <li class = "sub-category-value" data-value="">All</li>
                    <li class = "sub-category-value" data-value="Clutch">Clutch</li>
                    <li class = "sub-category-value" data-value="Bowling">Bowling</li>
                    <li class = "sub-category-value" data-value="Bucket">Bucket</li>
                </ul>
            </div>
            <span class = "filter_text">Sort by: </span> 
        
            <button type="button" id="review-nilai" class="sort-button selected" value="review-nilai" style="background-color: #4294FF; color: white;" onclick="handleSortButton(this)" data-value="review-nilai">Review Value</button>
            <button type="button" id="review-banyak" class="sort-button" value="review-banyak" style="background-color: #737373; color: white;" onclick="handleSortButton(this)" data-value="review-banyak">Review Count</button>

        </div>
    
        <div class="blue-box">
          <div class="container">
            <div class="item-container"  id="item-container">

                <% for (let i = 0; i < dashboardData.length; i++) { %>
                    <div class="item" onclick="window.location.href = '/bag_details/' + '<%= dashboardData[i].idBag %>';">
                        <div class="item-ranking">
                            <%= i + 1 %>
                        </div>
                        <div class="item-image" id="top10img<%= i + 1 %>">
                                <img src="data:image/jpeg;base64, <%= Buffer.from(dashboardData[i].bag_photo).toString('base64') %>" alt="Bag Image">
                        </div>
                        <div class="item-details">
                            <div class="bag_name"><%= dashboardData[i].bag_name %></div>
                            <div class="bag_review_desc">
                                <%= dashboardData[i].banyak_review %> Review<br>Rating: <%= dashboardData[i].nilai_review.toFixed(2) %>
                            </div>
                        </div>
                    </div>
                <% } %>
     
            </div>
          </div>
        </div>
      </div>
</body>
</html>

