<!DOCTYPE html>
<html>

<head>
    <title>html Editor</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script type="text/javascript" src="/edit_profile.js" defer></script>
</head>

<body>
    <%- include('./layout/header_public.ejs') %>


        <div class="navigator_edit_profile">
            <div class="follow_page_title">
                EDIT YOUR PROFILE
            </div>
            <form action="/change_photo_public" method="POST" enctype="multipart/form-data">
                <div class="navigator_edit_profile_2">
                    <div class="photo_container_profile">
                        <div class="photo_container_edit">
                            <img src="data:image/png;base64,<%= photo %>" alt="Bag Photo" id="preview" width=200px height=200px />
                        </div>
                        <div class="photo_buttons_profile">
                            <label for="gallery_upload_profile" class="upload_button_edit" id = "upload_button_edit">Upload from Gallery</label>
                            <span id="file_name_uploaded"></span>
                            <input type="file" name = "photo" id="gallery_upload_profile"style="display: none;"><br>
                            
                        </div>
                        
                    </div>
                    <div class="form_content_edit">
                        <div class="form_row_edit">
                            <label for="name">Full Name</label> <br>
                            <input type="text" id="name_profile" name="name" placeholder="<%= full_name %>" disabled>
                        </div>
                        <div class="form_row_edit">
                            <label for="email">Email</label><br>
                            <input type="text" id="email_profile" name="email" placeholder="<%= email %>"
                                disabled>
                        </div>
                        <div class="form_row_edit">
                            <label for="username">Username</label><br>
                            <input type="text" id="username_profile" name="username" placeholder="<%= username %>" disabled>
                        </div>
                    </div>
                </div>
                <div class="button_container_edit">
                    <div class="edit_profile_public_cancel">
                        <a href="/profile_public">
                            <button class="gray_button">Cancel</button>
                        </a>
                    </div>
                    
                        <div class="edit_profile_public_save">
                            <button class="blue_button">Save</button>
                        </div>
    
                </div>
            </form>
            
        </div>
</body>

</html>