<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
    
    <script>
    function goBack() {
      history.back();
    }
    </script>
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class = "navigator_profile">
        <div class = "my_profile">
            <%= other_full_name %>'s PROFILE
        </div>
        <div class = "biodata_profile">
            <div class = "pembungkus_deskripsi_profile">
                <div class = "profile_my_profile">
                    <img src = "data:image/jpeg;base64, <%= Buffer.from(other_photo).toString('base64') %>" height = 120px width=120px class = "user_profile_photo">
                </div>
                <div class = "username_my_profile">
                    <%= other_username %>
                    <button onclick="goBack()" class="gray_button">Back</button>
                </div>

                <div class="pembungkus_followers centered">
                    <div class="jumlah_followers">
                        <%= other_followers %>
                    </div>
                    <div class="followers_nama">
                        <% if(other_followers >1){%>
                            Followers
                        <% } else{ %>
                            Follower
                        <% } %>
                    </div>
                </div>

                <div class="pembungkus_following centered">
                    <div class="jumlah_following">
                        <%= other_following %>
                    </div>
                    <div class="following_nama">
                        Following
                    </div>
                </div>


            </div>

            <div class = "jumlah_reviews_user">
                <%= other_user_review_count %> 
                <% if(other_user_review_count >1){%>
                    Reviews
                <% } else{ %>
                    Review
                <% } %>
            </div>

            <div class = "pembungkus_pertama_myprofile">
                <% for(const data of other_userDataReview) { %>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="data:image/png;base64, <%= Buffer.from(data.fotoTas).toString('base64') %>" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas"><%= data.namaTas %></div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    <%= data.nilai %>
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                <%= data.teks %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>

