<!DOCTYPE html>
<html>

<head>
	<title>BAGBOOK_PUBLIC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <%- include('./layout/header_public.ejs') %>

    <div class = "navigator_profile">
        <div class = "my_profile">
            <%= username %>'s PROFILE
        </div>
        <div class = "biodata_profile">
            <div class = "pembungkus_deskripsi_profile">
                <div class = "profile_my_profile">
                    <a href = "/profile_public"><img src = "data:image/png;base64,<%= photo %>" height = 100px width=100px></a>
                </div>
                <div class = "username_my_profile">
                    <%= username %>
                    <button class = "blue_button">Edit Profile</button>
                </div>

                <a href = "/followers_public" class="pembungkus_followers centered">
                    <div class="jumlah_followers">
                        <%= followers %>
                    </div>
                    <div class="followers_nama">
                        Followers
                    </div>
                </a>

                <a href = "/following_public" class="pembungkus_following centered">
                    <div class="jumlah_following">
                        <%= following %>
                    </div>
                    <div class="following_nama">
                        Following
                    </div>
                </a>


            </div>

            <div class = "jumlah_reviews_user">
                65 Reviews
            </div>

            <div class = "pembungkus_pertama_myprofile">
                <div class = "pembungkus_kedua_myprofile">
                    <div class="image-alpha" id="top10img1">
                        <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                    </div>
                    <div class="rincian_item">
                        <div class = "nama_tas">ALPHA</div>
                        <div class = "nilai_review">
                            <div class = "judul_nilai">
                                Nilai
                            </div>
                            <div class = "nilai_dari_review">
                                3
                            </div>
                        </div>
                        <div class = "deskripsi_review">
                            Ransel ini desainnya sangat baik dan memiliki banyak kantong
                        </div>
                    </div>
                </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>

                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>

                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>

                    <div class = "pembungkus_kedua_myprofile">
                        <div class="image-alpha" id="top10img1">
                            <img src="../images/bags/Alpha.png" alt="Bag Image" height = 120px width=120px>
                        </div>
                        <div class="rincian_item">
                            <div class = "nama_tas">ALPHA</div>
                            <div class = "nilai_review">
                                <div class = "judul_nilai">
                                    Nilai
                                </div>
                                <div class = "nilai_dari_review">
                                    3
                                </div>
                            </div>
                            <div class = "deskripsi_review">
                                Ransel ini desainnya sangat baik dan memiliki banyak kantong
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>

